<h1>Edit</h1>
<h3>User: <%= @user.name %></h3>
<h4>Title: <%= @entry.title %></h4>
<h5>Date: <%= @entry.custdate %></h5>


<%= form_for [@user, @entry] do |f| %>
<%= f.label :Change_to_Custom_Date_if_not_for_today%><br><br>
<%= f.date_select :custdate %><br><br>
<%= f.label :title %>
<%= f.text_field :title%><br><br>
<%= f.label :post %><br>
<%= f.text_area :post, class: "post" %>

<%= f.submit "Save Edited" %>
<% end %>

<div class = "outputArea">
<div id = "titleSpace"><b></b>
<br><br></div>

<div id = "postSpace">
</div>
</div>