<h1>User: <%= current_user.name %> </h1>
<h2>New Entry Page</h2>



<%= form_for [@user, @entry] do |f| %>
<%= f.label :title %>
<%= f.text_field :title%><br>
<%= f.label :post %><br>
<%= f.text_field :post, class: "post" %>

<%= f.submit "Save" %>
<% end %>

<div class = "outputArea">
<div id = "titleSpace"><b>Title Here</b>
<br><br></div>

<div id = "postSpace">
Post content Here</div>
</div>

<%# <script>
function sayHiTony() {
    console.log("Hi Tony!");
  }

let area = document.querySelector("#entry_post")
area.addEventListener("keypress", function(e){
    if (e.code=="Enter") { 
        e.preventDefault()
        e.target.value += `\n`
        //  this.form.submit();
        //     return false;
    }
    console.log(e)
    if (e.target.value.length>5) debugger
   
})

// function addKey() {
//     obj = document.querySelector("#entry_post")
//     obj.value = obj.value.toUpperCase();
// }



document.addEventListener("DOMContentLoaded", sayHiTony());
</script> %>