<h1>You're latest entry, <%= @entry.user.name %></h1>

<p><b> Title: <i><%= @entry.title %> </i></b></p>
<p> Text:<%= simple_format(@entry.post) %> </p>


<%= form_for [@user, @entry] do |f|%>
<%  @entry.possible_topics.map do |top| %>

<%= f.check_box :topics, { multiple: true }, top, false %> 
<%= f.label :topics, top%> <br>
<% end %>
<%= f.submit %>
<% end %>