<h1>You're latest entry, <%= @entry.user.name %></h1>

<p> Title: <%= @entry.title %> </p>
<p> Text:<%= simple_format(@entry.post) %> </p>


<%= form_for [@user, @entry] do |f|%>
 
<%= f.collection_check_boxes :topics, Entry.all, :id, :title %><br>

<% end %>
<p>Possible Topics: <% @entry.possible_topics.each do |top|  %>

<br> <%= top %>
<% end %>
 </p>