<h1>You're latest entry, <%= @entry.user.name %></h1>

<p><b> Title: <i><%= @entry.title %> </i></b></p>
<p> <%= @entry.custdate.strftime("%A %B %d, %Y") %> </p>
<p> Text:<%= simple_format(@entry.post) %> </p>

<%= link_to "Add Indexes", new_entry_topic_path(@entry) %>

<%= link_to "Edit Entry", edit_user_entry_path(@entry.user, @entry)%>

<%= link_to "Delete Entry", entry_path(@entry), method: :delete, data: {confirm: "Are you sure you want to delete this Entry?"} %>