<!DOCTYPE html>
<html>
  <head>
    <title>LearnedToday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if !!session[:user_id] %>
  <center><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete %>
  <br>
  <%= link_to "Add Entry", new_user_entry_path(current_user)%>
  </center>
  <% end %>
    <%= yield %>
  </body>
</html>
